<footer class="global-footer" id="global-footer">
    <nav class="footer-nav-grid" role="navigation">
        <ul class="footer-nav-column footer-nav-ghost">
            <li class="footer-nav-heading">Patrocinadores:</li>
            <li class="footer-nav-link"><a href="https://themeforest.net/user/hackemate_ninja/portfolio?ref=hackemate_ninja" target="_blank">ThemeForest</a></li>
            <li class="footer-nav-link"><a href="https://codecanyon.net/user/hackemate_ninja/portfolio?ref=hackemate_ninja" target="_blank">CodeCanyon</a></li>
            <li class="footer-nav-link"><a href="https://m.do.co/c/cdffe48883fa" target="_blank">DigitalOcean</a></li>
            <li class="footer-nav-link"><a href="http://es.jimdo.com/#ref=a1000119&utm_campaign=Jimdo_Affiliate_Banner&utm_source=a1000119&utm_medium=468x60" target="_blank">Jimdo</a></li>
            <li class="footer-nav-link"><a href="https://share.payoneer.com/nav/eFs0SjJXjNn6DDxOkVMCGNV_blbZFVJvtR-7oihX91U64fsX2GRyP3hiIeTe37Zu56ZLBNb_RjwJxKKrESfgWg2" target="_blank">Payoneer</a></li>
        </ul>
        <ul class="footer-nav-column footer-nav-company">
            <li class="footer-nav-heading">Desarrollos:</li>
            {{#get "posts" filter="featured:true" limit="5" order="id asc" as |featured|}}
                {{#foreach featured}}
                    <li class="footer-nav-link"><a href="{{url}}">{{title}}</a></li>
                {{/foreach}}
            {{/get}}
        </ul>
        <ul class="footer-nav-column footer-nav-compare">
            <li class="footer-nav-heading">About:</li>
            {{#get "posts" filter="page:true" limit="5" as |pages|}}
                {{#foreach pages}}
                    <li class="footer-nav-link"><a href="{{url}}">{{title}}</a></li>
                {{/foreach}}
            {{/get}}
        </ul>
        <ul class="footer-nav-column footer-nav-developers">
            <li class="footer-nav-heading">Social:</li>
            <li class="footer-nav-link"><a href="{{facebook_url}}" target="_blank">Facebook</a></li>
            <li class="footer-nav-link"><a href="{{twitter_url}}" target="_blank">Twitter</a></li>
            <li class="footer-nav-link"><a href="https://www.youtube.com/c/nitrowittyoficial" target="_blank">Youtube</a></li>
            <li class="footer-nav-link"><a href="https://github.com/hackemateninja" target="_blank">GitHub</a></li>
            <li class="footer-nav-link"><a href="https://plus.google.com/u/0/+nitrowittyoficial" target="_blank">Google+</a></li>
        </ul>
        <ul class="footer-nav-column footer-nav-suport">
            <li class="footer-nav-heading">Freelance:</li>
            <li class="footer-nav-link"><a href="https://ninjahackerteam.slack.com/" target="_blank">Slack</a></li>
            <li class="footer-nav-link"><a href="https://www.facebook.com/Nitroherman" target="_blank">Facebook Personal</a></li>
            <li class="footer-nav-link"><a href="#">+502 42602688</a></li>
            <li class="footer-nav-link"><a href="#">nitrowitty@gmail.com</a></li>
            <li class="footer-nav-link"><a href="{{twitter_url}}" target="_blank">Envíame Tweets</a></li>
        </ul>
        <div class="clearfix"></div>
    </nav>
    <span class="poweredby"><img alt="digitalocean" src="https://secure172.inmotionhosting.com:2083/cpsess2150345277/viewer/home%2fnitrow5%2fpublic_html/logo-do-min.png"> Alojado <em>en</em> <a href="https://m.do.co/c/cdffe48883fa" target="_blank">DigitalOcean</a></span>
</footer>
